.letter-area {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    color: white;
    font-size: 70px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding: 15px;
  }

  .reverse {
    transform: rotate(180deg);
  }
}